@import "../../assets/scss/mixins";
@import "../../assets/scss/var";

.homepage {
  display: flex;
  height: 100vh;
  @include adapt($sm) {
    position: relative;
  }

  &__burger {
    display: none;
    @include adapt($sm) {
      display: block;
      position: absolute;
      z-index: 20;
      left: 20px;
      top: 22px;
    }
  }

  &__burgerIcon {
    width: 25px;
    height: 25px;
  }

  &__navbar {
    width: 35%;
    border-radius: 5px;
    background-color: #007aff;
    position: relative;
    z-index: 10;

    @include adapt($sm) {
      display: none;
    }

    &_active {
      display: block;
      position: absolute;
      height: 100vh;

      @include adapt($xs) {
        max-width: 250px;
        width: 100%;
      }
    }
  }

  &__main {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 3px #828282;
    box-shadow: 0px 0px 10px 3px #828282;
  }
}
