@import "../../../assets/scss/mixins";
@import "../../../assets/scss/var";

.dialogItem {

  &__box {
    padding: 10px 0;
    border-bottom: 1px solid #C0C0C0;
    display: flex;
    align-items: center;

  }

  &__img {
    border-radius: 50%;
    margin-right: 15px;
  }

  &__user {
    margin-right: 15px;
    max-width: 150px;
    width: 100%;
    @include line-clamp(1);

    @include adapt($xs) {
      font-size: 14px;
      max-width: 80px;
    }
  }

  &__btn {
    background-color: #3596FF;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;

    @include adapt($sm) {
      margin-left: auto;
    }

    @include adapt($xs) {
      font-size: 14px;
      padding: 10px 12px;
    }

    @include adapt($xsx){
      font-size: 12px;
    }
  }
}