@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/var";

.item {
  display: flex;
  margin-bottom: 10px;
  p{
    margin-bottom: 0;
  }
  &__title {
    min-width: 80px;
    font-weight: 600;
  }

  &__input{
    @include adapt($xsx){
      max-width: 120px;
    }

  }

  &__value {
    margin-right: 10px;
  }
}
