.change {
  background-color: #007AFF;
  min-height: 100vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &__wrapper {
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 30px 20px;
    max-width: 350px;
    width: 100%;
  }

  &__title {
    font-size: 26px;
    margin-bottom: 50px;
    font-weight: bold;
  }

  &__inputBox {
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 10px;
  }

  &__input {
    padding: 10px 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 12px;
  }

  &__regBtnBox {
    margin-bottom: 20px;

  }

  &__regBtn {
    width: 100%;
  }

  &__linksBox {
    display: flex;
    justify-content: space-between;
  }

  &__link{
    color: #ffffff;
    text-decoration: none;
  }

  &__error {
    font-size: 12px;
    margin-top: 5px;
    color: orange;
  }

}