@import "../../../assets/scss/mixins";
@import "../../../assets/scss/var";

.navbar {
  padding: 20px 15px;

  &__adaptCloseMenu {
    display: none;
    @include adapt($sm) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }

  &__adaptIcon {
    color: white;
    width: 25px;
    height: 25px;
  }

  &__title,
  &__findMessage,
  &__menu {
    margin-bottom: 20px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__titleBox {
    display: flex;

    @include adapt($sm) {
      width: 100%;
      justify-content: flex-end;
    }
  }

  &__subtitle {
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    text-decoration: none;

    &:hover {
      color: #ffffff;
    }

    @include adapt($sm) {
      display: none;
    }
  }

  &__subtitleAdapt {
    display: none;

    @include adapt($md) {
      display: block;
      font-size: 20px;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
    }
  }

  &__titleUsersBtn {
    margin-right: 10px;
  }

  &__titleUsersBtn,
  &__iconDialogs {
    color: white;
    width: 20px;
    height: 20px;

    @include adapt($xs) {
      width: 18px;
      height: 18px;
    }
  }

  &__findMessage {
    position: relative;
  }

  &__findMessageIcon {
    color: white;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
  }

  &__input {
    padding: 8px 10px 8px 30px;
    border-radius: 5px;
    width: 100%;
    background-color: #3596ff;
    color: white;

    @include adapt($sm) {
      font-size: 14px;
    }

    &::placeholder {
      font-size: 14px;
      color: white;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__user,
  &__dialog,
  &__dialogtext {
    display: flex;
  }

  &__dialog {
    align-items: center;
  }
}
