@import "../../../assets/scss/mixins";
@import "../../../assets/scss/var";

.title {
  background-color: whitesmoke;
  padding: 20px 10px;
  font-size: 28px;
  font-weight: bold;
  border-radius: 0 10px 0 0;
  -webkit-box-shadow: 0px 0px 10px 3px #828282;
  box-shadow: 0px 0px 10px 3px #828282;

  @include adapt($sm) {
    text-align: center;
    font-size: 26px;
  }

  @include adapt($xs) {
    font-size: 22px;
  }

}