@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/var";

.dialogs{
  display: flex;
  margin-bottom: 15px;
  color: white;

  &__img{
    border-radius: 50%;
    margin-right: 15px;

    @include adapt($sm){
      height: 40px;
      width: 40px;
      margin-right: 10px;

    }
  }

  &__name{
    @include adapt($sm){
      font-size: 14px;
    }
  }
}