.loginpage {
  background-color: #007AFF;
  min-height: 100vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &__form {
    max-width: 350px;
    width: 100%;
  }

  &__wrapper {
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 30px 20px;

  }

  &__title {
    font-size: 26px;
    margin-bottom: 50px;
    font-weight: bold;
  }

  &__inputBox {
    margin-bottom: 15px;
  }

  &__input {

    padding: 10px 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 12px;
  }

  &__btnBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  &__registrLink {
    text-decoration: none;
    color: #ffffff;

  }
  &__error {
    font-size: 12px;
    margin-top: 5px;
    color: orange;
  }

  label {
    display: block;
    margin-bottom: 15px;
  }

}