@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/var";

.userAvatar {
  &__infoAvatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;

    @include adapt($xs){
      width: 80px;
      height: 80px;
    }


  }

  &__input {
    width: 80px;
  }
}

