@import "../../../assets/scss/mixins";
@import "../../../assets/scss/var";

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: #007AFF;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.Overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 10;
}

.settings {
  &__btnOpen {
    color: white;
    width: 20px;
    height: 20px;
  }

  &__titleBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 24px;
    @include adapt($xs) {
      font-size: 22px;
    }
  }

  &__btnClosed {
    color: white;
    width: 25px;
    height: 25px;
  }

}

.formik {

  &__content {
    margin-bottom: 20px;
    @include adapt($xs) {
      font-size: 14px;
    }
  }

  &__inputBox {
    display: flex;
    margin-bottom: 10px;

    &_textarea {
      label{
        @include adapt($xs) {
          margin-bottom: 10px;
          display: block;
        }
      }

      @include adapt($xs) {
        display: block;
      }
    }

  }

  &__textarea {
    font-size: 12px;
    border-color: transparent;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #3596FF;
    color: white;

    &::placeholder {
      color: inherit;
    }

    @include adapt($xs) {
      display: block;
    }
  }

  &__label {
    min-width: 300px;
    font-weight: 600;

    @include adapt($xs) {
      min-width: 250px
    }
  }

}