@import "../../assets/scss/mixins";
@import "../../assets/scss/var";

.chatpage {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__head {
    padding: 20px 10px;
    -webkit-box-shadow: 0px 0px 10px 3px #828282;
    box-shadow: 0px 0px 10px 3px #828282;
    position: relative;
    z-index:2;
    border-radius: 0 10px 0 0;
    background-color: whitesmoke;

  }

  &__headName {
    font-size: 28px;
    font-weight: bold;

    @include adapt($sm){
      text-align: center;
      font-size: 26px;
    }
    @include adapt($xs){
      font-size: 22px;
    }
  }

  &__messages {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: #F7F9FA;
    padding-bottom: 20px;

  }

  &__form {
    position: relative;
  }

  &__emoji {
    position: absolute;
    top: -320px;
    right: 100px;
    aside {
      flex-direction: column-reverse;
    }
  }

  &__formBtn,
  &__formEmojiBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #007AFF;
    border-radius: 50%;
    color: white;
  }

  &__formBtn {
    right: 20px;
  }

  &__formEmojiBtn {
    right: 80px;
  }

}




