@import "../../../assets/scss/mixins";
@import "../../../assets/scss/var";

.btn{
  background-color: #3596FF;
  padding: 10px 15px;
  border-radius: 10px;

  @include adapt($xs){
    font-size: 14px;
  }



}