@import '../../../assets/scss/mixins';
@import '../../../assets/scss/var';

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: #007AFF;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.Overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 10;
}

.settings {

  &__btnOpen {
    color: white;
    width: 20px;
    height: 20px;

    @include adapt($xs) {
      width: 18px;
      height: 18px;
    }

  }

  &__btnClosed {
    color: white;
    width: 25px;
    height: 25px;
  }

  &__titleBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 24px;
    @include adapt($xs) {
      font-size: 22px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

    ul {
      padding: 0;
    }

    @include adapt($xs) {
      font-size: 14px;
    }
  }

  &__changePas {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
  }

  &__mainBtnBox {
    max-width: 200px;
  }
}