@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/var";

.message {
  display: flex;
  padding: 15px 0;
  @include adapt($xs){
    font-size: 14px;
  }


  &__myMessage {
    margin-left: auto;
    display: flex;
  }

  &__userMessage {
    display: flex;
    flex-direction: row-reverse;

    .message__text {
      background-color: #EAEAEA;
      color: #5A5A5A;
    }
  }

  &__text {
    color: white;
    background-color: #007AFF;
    align-self: baseline;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;

  }

  &__box {
    margin-left: 10px;
    max-width: 50px;
    text-align: center;

    &_user {
      margin-left: 0;
      margin-right: 10px;
    }
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    @include adapt($xs){
      width: 45px;
      height: 45px;
    }
  }

  &__time {
    font-size: 12px;
    @include adapt($xs){
      font-size: 10px;
    }
  }
}

.chat__messageImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}