.autosugg {
  position: relative;

  &__emoji {
    position: absolute;
    top: -320px;
    right: 100px;
    aside {
      flex-direction: column-reverse;
    }
  }

  &__formBtn,
  &__formEmojiBtn {
    position: absolute;
    top: 37px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #007aff;
    border-radius: 50%;
    color: white;
  }

  &__formBtn {
    right: 20px;
  }

  &__formEmojiBtn {
    right: 80px;
  }

}
