.message {
  display: flex;
  padding: 15px 0px;


  &__text {
    color: white;
    background-color: #007AFF;
    align-self: baseline;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;

  }

  &__avatar {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  &__gif{
    width: 40px;
    height: 25px;
    border-radius: 15px;

  }
}

